@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

:active,
:focus {
  outline: 0
}

a:active,
a:focus {
  outline: 0
}

aside,
footer,
header,
nav {
  display: block
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

button,
input,
textarea {
  font-family: inherit
}

input::-ms-clear {
  display: none
}

button {
  cursor: pointer
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a,
a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

ul li {
  list-style: none
}

img {
  vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

picture {
  display: block;
  width: 100%;
  height: 100%
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto
}

@media (max-width:991px) {
  .container {
    padding: 0 15px
  }
}

@media (max-width:600px) {
  .container {
    padding: 0 10px
  }
}

body {
  background-color: #412b59
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
  overflow: hidden
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

main:not(:last-child) {
  margin-bottom: 90px
}

.header {
  padding: 15px 0
}

@media (max-width:991px) {
  .header:not(:last-child) {
    margin-bottom: 30px
  }
}

@media (max-width:600px) {
  .header:not(:last-child) {
    margin-bottom: 40px
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

@media (max-width:991px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #412b59;
    z-index: 100;
    padding: calc(15px + 15 * ((100vw - 320px)/ 1600));
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
    -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out
  }
}

.header__exit-menu {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent
}

@media (max-width:991px) {
  .header__exit-menu {
    display: block;
    top: calc(15px + 15 * ((100vw - 320px)/ 1600));
    right: calc(15px + 15 * ((100vw - 320px)/ 1600))
  }
}

.header__exit-menu::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.header__exit-menu::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.header__logo {
  display: block;
  width: 217px;
  height: 82px
}

@media (max-width:600px) {
  .header__logo {
    width: 158px;
    height: 60px
  }
}

.header__logo_menu {
  display: none;
  margin-bottom: 100px;
  margin-right: auto
}

@media (max-width:991px) {
  .header__logo_menu {
    display: block
  }
}

.header__logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px 45px
}

@media (max-width:991px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 60px
  }
}

.nav__link {
  display: inline-block;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out
}

@media (max-width:991px) {
  .nav__link {
    font-size: 24px
  }
}

@media (any-hover:hover) {
  .nav__link:hover {
    color: #2b1d39
  }
}

.nav__link:active {
  color: #2b1d39;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  width: 52px;
  height: 25px;
  background-color: transparent
}

@media (max-width:991px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
}

@media (max-width:600px) {
  .burger {
    width: 42px
  }
}

.burger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px;
  border-radius: 15px
}

.burger span:first-child {
  margin-bottom: 5px
}

.burger span:last-child {
  margin-bottom: 0
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible
}

.first:not(:last-child) {
  margin-bottom: 90px
}

.no-webp .first__content {
  background-image: url(../img/hero.png)
}

.first__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px 20px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 655px;
  border-radius: 14px;
  overflow: hidden
}

@media (max-width:991px) {
  .no-webp .first__content {
    background-image: url(../img/hero_2.png)
  }

  .first__content {
    min-height: 667px;
    padding: 30px 15px
  }
}

@media (max-width:600px) {
  .no-webp .first__content {
    background-image: url(../img/hero_3.png)
  }

  .first__content {
    padding: 30px 10px
  }
}

.first__body {
  max-width: 540px
}

@media (max-width:991px) {
  .first__body {
    max-width: 565px
  }
}

.first__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 65px;
  color: #fff
}

@media (max-width:991px) {
  .first__title {
    font-size: 40px;
    line-height: 56px
  }
}

@media (max-width:600px) {
  .first__title {
    font-size: 30px;
    line-height: 42px
  }
}

.first__title:not(:last-child) {
  margin-bottom: 20px
}

@media (max-width:991px) {
  .first__title:not(:last-child) {
    margin-bottom: 15px
  }
}

@media (max-width:600px) {
  .first__title:not(:last-child) {
    margin-bottom: 10px
  }
}

.first__text {
  font-weight: 400;
  font-size: 23px;
  line-height: 26px;
  color: #fff
}

@media (max-width:991px) {
  .first__text {
    font-size: 20px;
    line-height: 23px
  }
}

@media (max-width:600px) {
  .first__text {
    font-size: 16px;
    line-height: 18px
  }
}

.first__text:not(:last-child) {
  margin-bottom: 55px
}

@media (max-width:991px) {
  .first__text:not(:last-child) {
    margin-bottom: 90px
  }
}

@media (max-width:600px) {
  .first__text:not(:last-child) {
    margin-bottom: 55px
  }
}

.first__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  width: 269px;
  min-height: 68px;
  background: -o-radial-gradient(50% 50%, 50% 649.06%, #ff0105 0, #701521 100%);
  background: radial-gradient(50% 649.06% at 50% 50%, #ff0105 0, #701521 100%);
  border-radius: 66px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: #fff;
  -webkit-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out
}

@media (max-width:600px) {
  .first__link {
    font-size: 20px;
    width: 225px;
    min-height: 59px
  }
}

@media (any-hover:hover) {
  .first__link:hover {
    opacity: .6
  }
}

.first__link:active {
  opacity: .2;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.io:not(:last-child) {
  margin-bottom: 70px
}

@media (max-width:991px) {
  .io:not(:last-child) {
    margin-bottom: 90px
  }
}

.io__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px
}

@media (max-width:991px) {
  .io__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 35px
  }
}

@media (max-width:600px) {
  .io__container {
    gap: 15px
  }
}

.io__descr {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 927px;
  flex: 0 1 927px
}

@media (max-width:991px) {
  .io__descr {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%
  }
}

.io__title {
  font-weight: 900;
  font-size: 30px;
  line-height: 42px;
  color: #fff
}

@media (max-width:600px) {
  .io__title {
    font-size: 25px;
    line-height: 35px
  }
}

.io__title:not(:last-child) {
  margin-bottom: 15px
}

.io__text {
  font-weight: 400;
  font-size: 25px;
  line-height: 36px;
  color: #fff
}

@media (max-width:991px) {
  .io__text {
    font-size: 21px;
    line-height: 30px
  }
}

@media (max-width:600px) {
  .io__text {
    font-size: 19px;
    line-height: 28px
  }
}

.io__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 453px;
  flex: 0 0 453px;
  height: 448px
}

@media (max-width:991px) {
  .io__image {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    max-width: 422px;
    height: 417px;
    margin: 0 auto
  }
}

@media (max-width:600px) {
  .io__image {
    max-width: 335px;
    height: 331px
  }
}

.io__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.swip:not(:last-child) {
  margin-bottom: 70px
}

@media (max-width:991px) {
  .swip:not(:last-child) {
    margin-bottom: 90px
  }
}

.swip__wrapper-slider {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 26px 83px minmax(0, 1175px) 83px 26px;
  grid-template: auto/26px minmax(0, 1175px) 26px;
  gap: 83px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

@media (max-width:991px) {
  .swip__wrapper-slider {
    -ms-grid-columns: minmax(0, 1175px);
    grid-template-columns: minmax(0, 1175px)
  }
}

.swip__button {
  display: block;
  width: 26px;
  height: 46px;
  background-color: transparent;
  -webkit-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out
}

@media (max-width:991px) {
  .swip__button {
    display: none
  }
}

.swip__button.swiper-button-disabled {
  opacity: .2
}

@media (any-hover:hover) {
  .swip__button.swiper-button-disabled:hover {
    opacity: .2
  }
}

.swip__button.swiper-button-disabled:active {
  opacity: .2;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

@media (any-hover:hover) {
  .swip__button:hover {
    opacity: .6
  }
}

.swip__button:active {
  opacity: .2;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.swip__button img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.gallery-swiper-prev img {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg)
}

.gallery-swiper {
  width: 100%
}

.gallery-swiper__slide {
  width: 454px;
  height: 325px
}

@media (max-width:991px) {
  .gallery-swiper__slide {
    width: 296px;
    height: 212px
  }
}

@media (max-width:600px) {
  .gallery-swiper__slide {
    width: 224px;
    height: 160px
  }
}

.gallery-swiper__slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.quest:not(:last-child) {
  margin-bottom: 90px
}

.quest__content {
  background-color: #5e4ca4;
  border-radius: 21px;
  padding: 150px 25px 50px 25px
}

@media (max-width:991px) {
  .quest__content {
    padding: 58px 10px 25px 10px
  }
}

@media (max-width:600px) {
  .quest__content {
    padding: 20px 5px
  }
}

.quest__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 80px 35px
}

@media (max-width:991px) {
  .quest__list {
    gap: 80px 20px
  }
}

.quest__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 410px;
  flex: 0 0 410px;
  background-color: #412b59;
  border-radius: 11px;
  padding: 0 20px 35px 20px
}

@media (max-width:991px) {
  .quest__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 325px;
    flex: 0 0 325px;
    padding: 0 15px 45px 15px
  }
}

@media (max-width:400px) {
  .quest__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    padding: 0 15px 35px 15px
  }
}

.quest__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 45px
}

@media (max-width:991px) {
  .quest__top {
    gap: 20px
  }
}

@media (max-width:600px) {
  .quest__top {
    gap: 10px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
}

.quest__top:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .quest__top:not(:last-child) {
    margin-bottom: 20px
  }
}

.quest__avatar {
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 146px;
  flex: 0 0 146px;
  height: 146px;
  margin-top: -73px
}

@media (max-width:991px) {
  .quest__avatar {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 82px;
    flex: 0 0 82px;
    height: 82px;
    margin-top: -41px;
    margin-left: -10px
  }
}

@media (max-width:600px) {
  .quest__avatar {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 99px;
    flex: 0 0 99px;
    height: 99px;
    margin-left: 0;
    margin-top: -49px
  }
}

.quest__avatar img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.quest__info {
  padding-top: 20px
}

@media (max-width:991px) {
  .quest__info {
    padding-top: 5px
  }
}

@media (max-width:600px) {
  .quest__info {
    padding-top: 15px
  }
}

.quest__name {
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  color: #fff
}

@media (max-width:600px) {
  .quest__name {
    font-size: 15px;
    line-height: 22px
  }
}

.quest__name:not(:last-child) {
  margin-bottom: 10px
}

@media (max-width:600px) {
  .quest__name:not(:last-child) {
    margin-bottom: 5px
  }
}

.quest__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px
}

.quest__star {
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  height: 24px
}

.quest__star img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.quest__text {
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  color: #fff
}

.footer {
  background-color: #2b1d39;
  padding: 38px 0 46px 0
}

@media (max-width:991px) {
  .footer {
    padding: 40px 0
  }
}

@media (max-width:600px) {
  .footer {
    padding: 30px 0 50px 0
  }
}

.footer__logo {
  display: block;
  width: 216px;
  height: 82px;
  margin: 0 auto
}

.footer__logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.footer__logo:not(:last-child) {
  margin-bottom: 25px
}

@media (max-width:991px) {
  .footer__logo:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .footer__logo:not(:last-child) {
    margin-bottom: 15px
  }
}

.footer__text {
  max-width: 590px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #fff
}

@media (max-width:600px) {
  .footer__text {
    font-size: 15px;
    line-height: 17px
  }
}

.footer__text:not(:last-child) {
  margin-bottom: 25px
}

@media (max-width:991px) {
  .footer__text:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .footer__text:not(:last-child) {
    margin-bottom: 15px
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 15px 20px
}

@media (max-width:991px) {
  .footer__list {
    gap: 10px 20px
  }
}

.footer__link {
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #fff;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out
}

@media (any-hover:hover) {
  .footer__link:hover {
    color: #412b59
  }
}

.footer__link:active {
  color: #412b59;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.terms {
  margin-top: 50px
}

@media (max-width:991px) {
  .terms {
    margin-top: 40px
  }
}

@media (max-width:600px) {
  .terms {
    margin-top: 30px
  }
}

.terms__title {
  font-weight: 900;
  font-size: 40px;
  line-height: 1.4;
  color: #fff
}

@media (max-width:991px) {
  .terms__title {
    font-size: 30px
  }
}

@media (max-width:600px) {
  .terms__title {
    font-size: 22px
  }
}

.terms__title:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms__title:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms__title:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms__text {
  font-weight: 400;
  font-size: 23px;
  line-height: 1.13;
  color: #fff
}

@media (max-width:991px) {
  .terms__text {
    font-size: 20px
  }
}

@media (max-width:600px) {
  .terms__text {
    font-size: 18px
  }
}

.terms__text:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms__text:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms__text:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms__subtitle {
  font-weight: 900;
  font-size: 30px;
  line-height: 1.4;
  color: #fff
}

@media (max-width:991px) {
  .terms__subtitle {
    font-size: 26px
  }
}

@media (max-width:600px) {
  .terms__subtitle {
    font-size: 20px
  }
}

.terms__subtitle:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms__subtitle:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms__subtitle:not(:last-child) {
    margin-bottom: 15px
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity .2s ease-in-out, pointer-events .2s ease-in-out, visibility .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, pointer-events .2s ease-in-out, visibility .2s ease-in-out;
  transition: opacity .2s ease-in-out, pointer-events .2s ease-in-out, visibility .2s ease-in-out
}

.popup.popup-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, .5)
}

.popup__body {
  position: relative;
  z-index: 2;
  width: 316px;
  padding: 20px 15px;
  background-color: #2b1d39
}

@media (max-width:600px) {
  .popup__body {
    padding: 20px 10px
  }
}

@media (max-width:400px) {
  .popup__body {
    width: 95%
  }
}

.popup__strong {
  display: block;
  font-weight: 900;
  font-size: 25px;
  line-height: 1.4;
  text-align: center;
  color: #fff
}

@media (max-width:991px) {
  .popup__strong {
    font-size: 21px
  }
}

@media (max-width:600px) {
  .popup__strong {
    font-size: 18px
  }
}

.popup__strong:not(:last-child) {
  margin-bottom: 20px
}

@media (max-width:600px) {
  .popup__strong:not(:last-child) {
    margin-bottom: 15px
  }
}

.popup__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  color: #fff
}

@media (max-width:600px) {
  .popup__text {
    font-size: 16px
  }
}

.popup__text:not(:last-child) {
  margin-bottom: 20px
}

@media (max-width:600px) {
  .popup__text:not(:last-child) {
    margin-bottom: 15px
  }
}

.popup__exit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  width: 87px;
  min-height: 41px;
  background-color: #f80206;
  border-radius: 29px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  color: #fff;
  -webkit-transition: background-color .2s ease-in-out, color .2s ease-in-out;
  -o-transition: background-color .2s ease-in-out, color .2s ease-in-out;
  transition: background-color .2s ease-in-out, color .2s ease-in-out
}

@media (max-width:600px) {
  .popup__exit {
    font-size: 16px;
    width: 77px;
    min-height: 31px
  }
}

@media (any-hover:hover) {
  .popup__exit:hover {
    color: #f80206;
    background-color: #fff
  }
}

.popup__exit:active {
  color: #f80206;
  background-color: #fff;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.webp .first__content {
  background-image: url(../img/hero.webp)
}

@media (max-width:991px) {
  .webp .first__content {
    background-image: url(../img/hero_2.webp)
  }
}

@media (max-width:600px) {
  .webp .first__content {
    background-image: url(../img/hero_3.webp)
  }
}