@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

:active,
:focus {
  outline: 0
}

a:active,
a:focus {
  outline: 0
}

aside,
footer,
header,
nav {
  display: block
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

button,
input,
textarea {
  font-family: inherit
}

input::-ms-clear {
  display: none
}

button {
  cursor: pointer
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a,
a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

ul li {
  list-style: none
}

img {
  vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

picture {
  display: block;
  width: 100%;
  height: 100%
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto
}

@media (max-width:991px) {
  .container {
    padding: 0 15px
  }
}

@media (max-width:600px) {
  .container {
    padding: 0 10px
  }
}

body {
  background-color: #190100
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
  overflow: hidden
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

main:not(:last-child) {
  margin-bottom: 90px
}

.qwerty {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  padding: 15px 0
}

.qwerty__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

@media (max-width:991px) {
  .qwerty__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #373737;
    z-index: 100;
    padding: calc(15px + 15 * ((100vw - 320px)/ 1600));
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
    -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out
  }
}

.qwerty__exit-menu {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent
}

@media (max-width:991px) {
  .qwerty__exit-menu {
    display: block;
    top: calc(15px + 15 * ((100vw - 320px)/ 1600));
    left: calc(15px + 15 * ((100vw - 320px)/ 1600))
  }
}

.qwerty__exit-menu::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.qwerty__exit-menu::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.qwerty__logo {
  display: block;
  width: 217px;
  height: 89px
}

@media (max-width:600px) {
  .qwerty__logo {
    width: 158px;
    height: 65px
  }
}

.qwerty__logo_menu {
  display: none;
  margin-left: auto;
  margin-bottom: 150px
}

@media (max-width:991px) {
  .qwerty__logo_menu {
    display: block
  }
}

.qwerty__logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 15px 42px
}

@media (max-width:991px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 50px
  }
}

.nav__link {
  display: inline-block;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.15;
  color: #fff;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out
}

@media (max-width:991px) {
  .nav__link {
    font-size: 22px
  }
}

@media (max-width:600px) {
  .nav__link {
    font-size: 24px
  }
}

@media (any-hover:hover) {
  .nav__link:hover {
    color: #f90
  }
}

.nav__link:active {
  color: #f90;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  width: 52px;
  height: 25px;
  background-color: transparent
}

@media (max-width:991px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
}

@media (max-width:600px) {
  .burger {
    width: 42px
  }
}

.burger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px
}

.burger span:first-child {
  margin-bottom: 5px
}

.burger span:last-child {
  margin-bottom: 0
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible
}

.no-webp .loop {
  background-image: url(../img/hero.png)
}

.loop {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top
}

@media (max-width:991px) {
  .no-webp .loop {
    background-image: url(../img/hero_2.png)
  }
}

@media (max-width:600px) {
  .no-webp .loop {
    background-image: url(../img/hero_3.png)
  }
}

.loop:not(:last-child) {
  margin-bottom: 155px
}

@media (max-width:991px) {
  .loop:not(:last-child) {
    margin-bottom: 90px
  }
}

.loop__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 100px 0;
  min-height: 925px
}

@media (max-width:991px) {
  .loop__content {
    min-height: 884px
  }
}

@media (max-width:600px) {
  .loop__content {
    min-height: 812px
  }
}

.loop__body {
  max-width: 690px
}

.loop__title {
  font-weight: 900;
  font-size: 90px;
  line-height: 1.41;
  text-transform: uppercase;
  color: #fff
}

@media (max-width:991px) {
  .loop__title {
    font-size: 70px
  }
}

@media (max-width:600px) {
  .loop__title {
    font-size: 36px
  }
}

.loop__title span {
  display: block;
  position: relative;
  z-index: 2
}

.loop__title span::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  height: 17px;
  background-color: #ff7a00;
  z-index: -1
}

@media (max-width:991px) {
  .loop__title span::after {
    bottom: 17px
  }
}

@media (max-width:600px) {
  .loop__title span::after {
    height: 10px;
    bottom: 7px
  }
}

.loop__title:not(:last-child) {
  margin-bottom: 80px
}

@media (max-width:991px) {
  .loop__title:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .loop__title:not(:last-child) {
    margin-bottom: 50px
  }
}

.loop__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  width: 316px;
  min-height: 83px;
  background-color: #f90;
  font-weight: 400;
  font-size: 25px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out;
  -o-transition: color .2s ease-in-out, background-color .2s ease-in-out;
  transition: color .2s ease-in-out, background-color .2s ease-in-out
}

@media (max-width:600px) {
  .loop__link {
    width: 246px;
    min-height: 70px;
    font-size: 21px
  }
}

@media (any-hover:hover) {
  .loop__link:hover {
    color: #f90;
    background-color: #fff
  }
}

.loop__link:active {
  color: #f90;
  background-color: #fff;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.soldier:not(:last-child) {
  margin-bottom: 90px
}

.soldier__content {
  display: -ms-grid;
  display: grid;
  grid-template: auto/repeat(auto-fill, minmax(550px, 1fr));
  gap: 15px
}

@media (max-width:991px) {
  .soldier__content {
    row-gap: 20px
  }
}

@media (max-width:600px) {
  .soldier__content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 10px
  }
}

.soldier__title {
  font-weight: 900;
  font-size: 41px;
  line-height: 1.41;
  text-transform: uppercase;
  color: #fff
}

@media (max-width:991px) {
  .soldier__title {
    font-size: 35px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content
  }
}

@media (max-width:600px) {
  .soldier__title {
    font-size: 18px
  }
}

.soldier__title span {
  display: block;
  position: relative;
  z-index: 2
}

.soldier__title span::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 17px;
  background-color: #ff7a00;
  z-index: -1
}

@media (max-width:600px) {
  .soldier__title span::after {
    height: 7px;
    bottom: 3px
  }
}

.soldier__title:not(:last-child) {
  margin-bottom: 40px
}

@media (max-width:991px) {
  .soldier__title:not(:last-child) {
    margin-bottom: 20px
  }
}

.soldier__text {
  font-weight: 400;
  font-size: 27px;
  line-height: 1.26;
  color: #fff
}

@media (max-width:991px) {
  .soldier__text {
    font-size: 21px
  }
}

@media (max-width:600px) {
  .soldier__text {
    font-size: 17px
  }
}

.eye:not(:last-child) {
  margin-bottom: 72px
}

@media (max-width:991px) {
  .eye:not(:last-child) {
    margin-bottom: 90px
  }
}

.eye__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 35px 20px
}

@media (max-width:600px) {
  .eye__list {
    row-gap: 20px
  }
}

.eye__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 448px;
  flex: 0 0 448px
}

@media (max-width:991px) {
  .eye__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 350px;
    flex: 0 0 350px
  }
}

@media (max-width:450px) {
  .eye__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%
  }
}

.eye__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 74px;
  height: 74px;
  margin: 0 auto
}

.eye__icon img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.eye__icon:not(:last-child) {
  margin-bottom: 15px
}

@media (max-width:991px) {
  .eye__icon:not(:last-child) {
    margin-bottom: 10px
  }
}

.eye__title {
  font-weight: 900;
  font-size: 36px;
  line-height: 1.41;
  text-align: center;
  text-transform: uppercase;
  color: #fff
}

@media (max-width:991px) {
  .eye__title {
    font-size: 30px
  }
}

@media (max-width:600px) {
  .eye__title {
    font-size: 25px
  }
}

.eye__title:not(:last-child) {
  margin-bottom: 15px
}

@media (max-width:991px) {
  .eye__title:not(:last-child) {
    margin-bottom: 10px
  }
}

.eye__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.16;
  text-align: center;
  color: #fff
}

@media (max-width:991px) {
  .eye__text {
    font-size: 20px
  }
}

@media (max-width:600px) {
  .eye__text {
    font-size: 15px
  }
}

.eye__text:not(:last-child) {
  margin-bottom: 15px
}

@media (max-width:991px) {
  .eye__text:not(:last-child) {
    margin-bottom: 10px
  }
}

.igraem:not(:last-child) {
  margin-bottom: 90px
}

.igraem__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.igraem__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 440px;
  flex: 0 0 440px
}

@media (max-width:991px) {
  .igraem__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 345px;
    flex: 0 0 345px
  }
}

@media (max-width:400px) {
  .igraem__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%
  }
}

.igraem__image {
  border-radius: 5px;
  height: 238px
}

@media (max-width:991px) {
  .igraem__image {
    height: 190px
  }
}

.igraem__image a {
  display: block;
  width: 100%;
  height: 100%
}

.igraem__image a picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.igraem__image:not(:last-child) {
  margin-bottom: 25px
}

@media (max-width:991px) {
  .igraem__image:not(:last-child) {
    margin-bottom: 20px
  }
}

.igraem__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  font-weight: 700;
  font-size: 37px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #fff
}

@media (max-width:991px) {
  .igraem__link {
    font-size: 32px
  }
}

@media (any-hover:hover) {
  .igraem__link:hover span {
    color: #ff7a00
  }

  .igraem__link:hover span::after {
    background-color: #fff
  }
}

.igraem__link:active span {
  color: #ff7a00
}

.igraem__link:active span::after {
  background-color: #fff;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.igraem__link span {
  display: block;
  position: relative;
  z-index: 2;
  min-width: 217px;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out
}

@media (max-width:991px) {
  .igraem__link span {
    min-width: 186px
  }
}

@media (max-width:600px) {
  .igraem__link span {
    min-width: 157px
  }
}

.igraem__link span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 12px;
  background-color: #ff7a00;
  z-index: -1;
  -webkit-transition: background-color .2s ease-in-out;
  -o-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out
}

@media (max-width:991px) {
  .igraem__link span::after {
    height: 10px
  }
}

.qwe {
  padding: 20px 0 30px 0
}

@media (max-width:991px) {
  .qwe {
    padding: 20px 0 50px 0
  }
}

@media (max-width:600px) {
  .qwe {
    padding: 20px 0 25px 0
  }
}

.qwe__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end
}

@media (max-width:991px) {
  .qwe__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
  }
}

.qwe__lists {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 450px;
  flex: 0 0 450px
}

@media (max-width:991px) {
  .qwe__lists {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%
  }
}

.qwe__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 15px 45px
}

@media (max-width:991px) {
  .qwe__list {
    gap: 10px 35px
  }
}

@media (max-width:600px) {
  .qwe__list {
    gap: 10px 25px
  }
}

.qwe__list:not(:last-child) {
  margin-bottom: 15px
}

.qwe__link {
  display: inline-block;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.1;
  color: #fff;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out
}

@media (max-width:600px) {
  .qwe__link {
    font-size: 14px
  }
}

@media (any-hover:hover) {
  .qwe__link:hover {
    color: #f90
  }
}

.qwe__link:active {
  color: #f90;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.qwe__right {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 565px;
  flex: 0 1 565px
}

@media (max-width:991px) {
  .qwe__right {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%
  }
}

.qwe__logo {
  display: block;
  margin-left: auto;
  max-width: 217px;
  height: 89px
}

.qwe__logo:not(:last-child) {
  margin-bottom: 20px
}

.qwe__logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.qwe__text {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.26;
  text-align: right;
  color: #fff
}

@media (max-width:600px) {
  .qwe__text {
    font-size: 15px
  }
}

.terms {
  padding-top: 210px
}

@media (max-width:991px) {
  .terms {
    padding-top: 180px
  }
}

@media (max-width:600px) {
  .terms {
    padding-top: 160px
  }
}

.terms h1 {
  font-weight: 700;
  font-size: 35px;
  line-height: 1.175;
  text-align: center;
  letter-spacing: -.025em;
  text-transform: uppercase;
  color: #fff
}

@media (max-width:991px) {
  .terms h1 {
    font-size: 28px
  }
}

@media (max-width:600px) {
  .terms h1 {
    font-size: 22px
  }
}

.terms h1:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h1:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h1:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms h2 {
  font-weight: 700;
  font-size: 35px;
  line-height: 1.175;
  text-align: center;
  letter-spacing: -.025em;
  text-transform: uppercase;
  color: #fff
}

@media (max-width:991px) {
  .terms h2 {
    font-size: 28px
  }
}

@media (max-width:600px) {
  .terms h2 {
    font-size: 22px
  }
}

.terms h2:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h2:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h2:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms p {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.04;
  text-align: center;
  letter-spacing: -.025em;
  color: #fff
}

@media (max-width:600px) {
  .terms p {
    font-size: 18px
  }
}

.terms p:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms p:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms p:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms ul:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms ul:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms ul:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms li {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.04;
  text-align: center;
  letter-spacing: -.025em;
  color: #fff
}

@media (max-width:600px) {
  .terms li {
    font-size: 16px
  }
}

.terms li:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms li:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms li:not(:last-child) {
    margin-bottom: 15px
  }
}

.egray {
  padding-top: 210px
}

@media (max-width:991px) {
  .egray {
    padding-top: 180px
  }
}

@media (max-width:600px) {
  .egray {
    padding-top: 160px
  }
}

.egray__content {
  height: 800px
}

@media (max-width:991px) {
  .egray__content {
    height: 550px
  }
}

@media (max-width:600px) {
  .egray__content {
    height: 350px
  }
}

.egray__content iframe {
  width: 100%;
  height: 100%
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1
}

.popup__body {
  position: relative;
  width: 450px;
  background: #190100;
  border-radius: 5px;
  z-index: 2;
  padding: 25px 20px
}

@media (max-width:991px) {
  .popup__body {
    padding: 20px 15px
  }
}

@media (max-width:600px) {
  .popup__body {
    padding: 15px 10px
  }
}

@media (max-width:500px) {
  .popup__body {
    width: 95%
  }
}

.popup__form {
  width: 100%
}

.popup__form input {
  position: absolute;
  top: 0;
  left: -5000px
}

.popup__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.04;
  letter-spacing: -.025em;
  color: #fff
}

@media (max-width:991px) {
  .popup__text {
    font-size: 18px
  }
}

@media (max-width:600px) {
  .popup__text {
    font-size: 16px
  }
}

.popup__text:not(:last-child) {
  margin-bottom: 20px
}

.popup__form-bottom {
  text-align: center
}

.popup__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  width: 180px;
  height: 50px;
  background-color: #f90;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -.025em;
  color: #fff;
  margin-left: auto;
  -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out;
  -o-transition: color .2s ease-in-out, background-color .2s ease-in-out;
  transition: color .2s ease-in-out, background-color .2s ease-in-out
}

@media (max-width:991px) {
  .popup__button {
    font-size: 18px;
    width: 150px;
    height: 45px
  }
}

@media (max-width:600px) {
  .popup__button {
    font-size: 16px;
    width: 130px;
    height: 40px
  }
}

@media (any-hover:hover) {
  .popup__button:hover {
    color: #f90;
    background-color: #fff
  }
}

.popup__button:active {
  color: #f90;
  background-color: #fff;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.webp .loop {
  background-image: url(../img/hero.webp)
}

@media (max-width:991px) {
  .webp .loop {
    background-image: url(../img/hero_2.webp)
  }
}

@media (max-width:600px) {
  .webp .loop {
    background-image: url(../img/hero_3.webp)
  }
}