@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

:active,
:focus {
  outline: 0
}

a:active,
a:focus {
  outline: 0
}

aside,
footer,
header,
nav {
  display: block
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

button,
input,
textarea {
  font-family: inherit
}

input::-ms-clear {
  display: none
}

button {
  cursor: pointer
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a,
a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

ul li {
  list-style: none
}

img {
  vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

picture {
  display: block;
  width: 100%;
  height: 100%
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto
}

@media (max-width:991px) {
  .container {
    padding: 0 15px
  }
}

@media (max-width:600px) {
  .container {
    padding: 0 10px
  }
}

body {
  background-color: #4e014b
}

.page {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
  overflow: hidden
}

.page__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

main:not(:last-child) {
  margin-bottom: 90px
}

.heading {
  position: absolute;
  top: 0;
  left: 0;
  width: 142px;
  min-height: 777px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  padding-top: 400px
}

@media (max-width:991px) {
  .heading {
    border: 0;
    width: 100%;
    min-height: auto;
    position: static;
    padding: 15px 0
  }
}

@media (max-width:991px) {
  .heading__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
}

@media (max-width:991px) {
  .heading__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #373737;
    z-index: 100;
    padding: calc(15px + 15 * ((100vw - 320px)/ 1600));
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
    -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out
  }
}

.heading__exit-menu {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent
}

@media (max-width:991px) {
  .heading__exit-menu {
    display: block;
    top: calc(15px + 15 * ((100vw - 320px)/ 1600));
    right: calc(15px + 15 * ((100vw - 320px)/ 1600))
  }
}

.heading__exit-menu::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.heading__exit-menu::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.heading__logo {
  display: none;
  width: 183px;
  height: 98px
}

@media (max-width:991px) {
  .heading__logo {
    display: block
  }
}

@media (max-width:600px) {
  .heading__logo {
    width: 168px;
    height: 90px
  }
}

.heading__logo_menu {
  margin-right: auto;
  margin-bottom: 100px
}

.heading__logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.nav {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg)
}

@media (max-width:991px) {
  .nav {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0)
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 15px 60px
}

@media (max-width:991px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 50px
  }
}

.nav__link {
  white-space: nowrap;
  display: inline-block;
  font-weight: 400;
  font-size: 21px;
  line-height: 1.142;
  color: #fff;
  -webkit-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out
}

@media (max-width:991px) {
  .nav__link {
    font-size: 24px
  }
}

@media (any-hover:hover) {
  .nav__link:hover {
    opacity: .6
  }
}

.nav__link:active {
  opacity: .2;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  width: 52px;
  height: 25px;
  background-color: transparent
}

@media (max-width:991px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
}

@media (max-width:600px) {
  .burger {
    width: 42px
  }
}

.burger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px
}

.burger span:first-child {
  margin-bottom: 5px
}

.burger span:last-child {
  margin-bottom: 0
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible
}

.top {
  position: absolute;
  padding: 15px 0;
  top: 0;
  left: 0;
  width: 100%
}

@media (max-width:991px) {
  .top {
    display: none
  }
}

.top__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-left: 150px
}

.top__logo {
  display: block;
  width: 183px;
  height: 98px
}

.top__logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.no-webp .main {
  background-image: url(../img/hero.png)
}

.main {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover
}

@media (max-width:991px) {
  .no-webp .main {
    background-image: url(../img/hero_2.png)
  }
}

@media (max-width:600px) {
  .no-webp .main {
    background-image: url(../img/hero_3.png)
  }
}

.main:not(:last-child) {
  margin-bottom: 90px
}

.main__content {
  padding: 150px 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 781px;
  padding-left: 150px
}

@media (max-width:991px) {
  .main__content {
    min-height: 583px;
    padding: 30px 0
  }
}

.main__body {
  max-width: 460px
}

.main__span {
  display: block;
  font-weight: 400;
  font-size: 21px;
  line-height: 1.38;
  color: #fff
}

@media (max-width:991px) {
  .main__span {
    font-size: 18px
  }
}

.main__span:not(:last-child) {
  margin-bottom: 13px
}

@media (max-width:991px) {
  .main__span:not(:last-child) {
    margin-bottom: 10px
  }
}

.main__title {
  font-weight: 900;
  font-size: 39px;
  line-height: 1.41;
  color: #fff
}

@media (max-width:991px) {
  .main__title {
    font-size: 35px
  }
}

.main__title:not(:last-child) {
  margin-bottom: 15px
}

.main__text {
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 1.38;
  color: #fff
}

@media (max-width:991px) {
  .main__text {
    font-size: 18px
  }
}

.main__text:not(:last-child) {
  margin-bottom: 97px
}

@media (max-width:991px) {
  .main__text:not(:last-child) {
    margin-bottom: 47px
  }
}

@media (max-width:600px) {
  .main__text:not(:last-child) {
    margin-bottom: 128px
  }
}

.main__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  width: 217px;
  min-height: 61px;
  background-color: #70178f;
  border-radius: 5px;
  font-weight: 700;
  font-size: 21px;
  line-height: 1;
  text-align: center;
  color: #fff;
  -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out;
  -o-transition: color .2s ease-in-out, background-color .2s ease-in-out;
  transition: color .2s ease-in-out, background-color .2s ease-in-out
}

@media (max-width:600px) {
  .main__link {
    width: 261px
  }
}

@media (any-hover:hover) {
  .main__link:hover {
    color: #70178f;
    background-color: #fff
  }
}

.main__link:active {
  color: #70178f;
  background-color: #fff;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.siamo:not(:last-child) {
  margin-bottom: 90px
}

.siamo__title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-width: 450px;
  padding-bottom: 10px;
  font-weight: 900;
  font-size: 35px;
  line-height: 1, 4;
  text-align: center;
  color: #fff;
  border-bottom: 1px solid #fff
}

@media (max-width:991px) {
  .siamo__title {
    min-width: 350px;
    font-size: 30px
  }
}

@media (max-width:600px) {
  .siamo__title {
    min-width: 250px
  }
}

.siamo__title:not(:last-child) {
  margin-bottom: 20px
}

@media (max-width:991px) {
  .siamo__title:not(:last-child) {
    margin-bottom: 30px
  }
}

@media (max-width:600px) {
  .siamo__title:not(:last-child) {
    margin-bottom: 20px
  }
}

.siamo__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px
}

@media (max-width:991px) {
  .siamo__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 30px
  }
}

.siamo__descr {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 812px;
  flex: 0 1 812px
}

@media (max-width:991px) {
  .siamo__descr {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%
  }
}

.siamo__text {
  font-weight: 400;
  font-size: 21px;
  line-height: 1.52;
  color: #fff
}

@media (max-width:991px) {
  .siamo__text {
    font-size: 19px
  }
}

@media (max-width:600px) {
  .siamo__text {
    font-size: 18px
  }
}

.siamo__text_2 {
  font-weight: 400;
  font-size: 19px;
  line-height: 1.53;
  color: #fff
}

.siamo__text_2:not(:last-child) {
  margin-bottom: 0
}

.siamo__text:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .siamo__text:not(:last-child) {
    margin-bottom: 25px
  }
}

@media (max-width:600px) {
  .siamo__text:not(:last-child) {
    margin-bottom: 20px
  }
}

.siamo__list {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 574px;
  flex: 0 1 574px
}

@media (max-width:991px) {
  .siamo__list {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%
  }
}

.siamo__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px
}

@media (max-width:600px) {
  .siamo__item {
    gap: 10px
  }
}

.siamo__item:not(:last-child) {
  margin-bottom: 25px
}

@media (max-width:600px) {
  .siamo__item:not(:last-child) {
    margin-bottom: 15px
  }
}

.siamo__line {
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 28px;
  flex: 0 0 28px;
  height: 1px;
  background-color: #fff
}

@media (max-width:600px) {
  .siamo__line {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 17px;
    flex: 0 0 17px
  }
}

.recensioni:not(:last-child) {
  margin-bottom: 90px
}

.recensioni__title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-width: 450px;
  padding-bottom: 10px;
  font-weight: 900;
  font-size: 35px;
  line-height: 1, 4;
  text-align: center;
  color: #fff;
  border-bottom: 1px solid #fff
}

@media (max-width:991px) {
  .recensioni__title {
    min-width: 350px;
    font-size: 30px
  }
}

@media (max-width:600px) {
  .recensioni__title {
    min-width: 250px
  }
}

.recensioni__title:not(:last-child) {
  margin-bottom: 20px
}

@media (max-width:991px) {
  .recensioni__title:not(:last-child) {
    margin-bottom: 30px
  }
}

@media (max-width:600px) {
  .recensioni__title:not(:last-child) {
    margin-bottom: 20px
  }
}

.recensioni__list {
  display: -ms-grid;
  display: grid;
  grid-template: auto/repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px
}

@media (max-width:600px) {
  .recensioni__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}

.recensioni__item {
  background-color: #6f166b;
  border: 1px solid #fff
}

.recensioni__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px
}

.recensioni__top:not(:last-child) {
  margin-bottom: 35px
}

@media (max-width:991px) {
  .recensioni__top:not(:last-child) {
    margin-bottom: 15px
  }
}

.recensioni__icon {
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 98px;
  flex: 0 0 98px;
  height: 96px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff
}

@media (max-width:991px) {
  .recensioni__icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 96px;
    flex: 0 0 96px;
    height: 93px
  }
}

.recensioni__icon img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.recensioni__info {
  padding: 10px 0 0 0
}

.recensioni__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  color: #fff
}

.recensioni__name:not(:last-child) {
  margin-bottom: 10px
}

.recensioni__data {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  color: #d0cdcd
}

.recensioni__data:not(:last-child) {
  margin-bottom: 10px
}

.recensioni__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px
}

.recensioni__star {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 27px;
  flex: 0 0 27px;
  height: 27px;
  display: block
}

@media (max-width:600px) {
  .recensioni__star {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 22px;
    flex: 0 0 22px;
    height: 22px
  }
}

.recensioni__star img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.recensioni__descr {
  padding: 0 20px 40px 20px
}

@media (max-width:991px) {
  .recensioni__descr {
    padding: 0 15px 15px 15px
  }
}

.recensioni__text {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.53;
  color: #fff
}

.galleria:not(:last-child) {
  margin-bottom: 90px
}

.galleria__title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-width: 450px;
  padding-bottom: 10px;
  font-weight: 900;
  font-size: 35px;
  line-height: 1, 4;
  text-align: center;
  color: #fff;
  border-bottom: 1px solid #fff
}

@media (max-width:991px) {
  .galleria__title {
    min-width: 350px;
    font-size: 30px
  }
}

@media (max-width:600px) {
  .galleria__title {
    min-width: 250px
  }
}

.galleria__title:not(:last-child) {
  margin-bottom: 20px
}

@media (max-width:991px) {
  .galleria__title:not(:last-child) {
    margin-bottom: 30px
  }
}

@media (max-width:600px) {
  .galleria__title:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:991px) {
  .galleria__container {
    padding: 0
  }
}

.galleria__wrapper-slider {
  background-color: #6e166b;
  border: 1px solid #fff;
  padding: 45px 20px 30px 20px
}

@media (max-width:991px) {
  .galleria__wrapper-slider {
    padding: 30px 15px
  }
}

@media (max-width:600px) {
  .galleria__wrapper-slider {
    padding: 20px 10px
  }
}

.galleria__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 50px
}

.galleria__button {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 22px;
  flex: 0 0 22px;
  height: 38px;
  background-color: transparent;
  -webkit-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out
}

@media (any-hover:hover) {
  .galleria__button:hover {
    opacity: .6
  }
}

.galleria__button:active {
  opacity: .2;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.galleria__button img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.galleria-swiper:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .galleria-swiper:not(:last-child) {
    margin-bottom: 25px
  }
}

@media (max-width:600px) {
  .galleria-swiper:not(:last-child) {
    margin-bottom: 20px
  }
}

.galleria-swiper__slide {
  height: 238px
}

@media (max-width:991px) {
  .galleria-swiper__slide {
    height: 188px
  }
}

@media (max-width:600px) {
  .galleria-swiper__slide {
    height: 193px
  }
}

.galleria-swiper__slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.galleria-swiper-prev img {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg)
}

.niz {
  border-top: 1px solid #fff;
  padding: 58px 0 42px 0
}

@media (max-width:991px) {
  .niz {
    padding: 51px 0 56px 0
  }
}

@media (max-width:600px) {
  .niz {
    padding: 23px 0
  }
}

.niz__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 20px
}

@media (max-width:600px) {
  .niz__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}

.niz__top:not(:last-child) {
  margin-bottom: 60px
}

@media (max-width:991px) {
  .niz__top:not(:last-child) {
    margin-bottom: 44px
  }
}

@media (max-width:600px) {
  .niz__top:not(:last-child) {
    margin-bottom: 18px
  }
}

.niz__logo {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 217px;
  height: 116px;
  display: block
}

@media (max-width:600px) {
  .niz__logo {
    width: 168px;
    height: 90px
  }
}

.niz__logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.niz__text {
  max-width: 572px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.53;
  text-align: right;
  color: #fff
}

@media (max-width:991px) {
  .niz__text {
    font-size: 16px
  }
}

.niz__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 15px 72px
}

@media (max-width:1440px) {
  .niz__list {
    gap: 15px 55px
  }
}

@media (max-width:1220px) {
  .niz__list {
    gap: 15px 45px
  }
}

@media (max-width:991px) {
  .niz__list {
    gap: 10px 30px
  }
}

@media (max-width:600px) {
  .niz__list {
    gap: 10px 20px
  }
}

.niz__list:not(:last-child) {
  margin-bottom: 22px
}

.niz__link {
  display: inline-block;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.1;
  color: #fff;
  -webkit-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out
}

@media (max-width:600px) {
  .niz__link {
    font-size: 17px
  }
}

@media (any-hover:hover) {
  .niz__link:hover {
    opacity: .6
  }
}

.niz__link:active {
  opacity: .2;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.terms {
  padding-top: 170px
}

@media (max-width:991px) {
  .terms {
    padding-top: 0;
    margin-top: 50px
  }
}

.terms__content {
  padding-left: 150px
}

@media (max-width:991px) {
  .terms__content {
    padding-left: 0
  }
}

.terms__title {
  min-width: 690px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 900;
  font-size: 35px;
  line-height: 1.4;
  text-align: center;
  color: #fff;
  padding: 0 60px;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff
}

@media (max-width:991px) {
  .terms__title {
    min-width: 490px;
    font-size: 28px;
    padding: 0 30px 10px 30px
  }
}

@media (max-width:600px) {
  .terms__title {
    min-width: auto;
    width: 100%;
    font-size: 22px;
    padding: 0 0 10px 0
  }
}

.terms__title:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms__title:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms__title:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms__subtitle {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-width: 450px;
  font-weight: 900;
  font-size: 35px;
  line-height: 1.4;
  text-align: center;
  color: #fff;
  padding: 0 60px;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff
}

@media (max-width:991px) {
  .terms__subtitle {
    min-width: 350px;
    font-size: 28px;
    padding: 0 30px 10px 30px
  }
}

@media (max-width:600px) {
  .terms__subtitle {
    min-width: auto;
    width: 100%;
    font-size: 22px;
    padding: 0 0 10px 0
  }
}

.terms__subtitle:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms__subtitle:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms__subtitle:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms__text {
  font-weight: 400;
  font-size: 21px;
  line-height: 1.52;
  color: #fff
}

@media (max-width:991px) {
  .terms__text {
    font-size: 18px
  }
}

@media (max-width:600px) {
  .terms__text {
    font-size: 16px
  }
}

.terms__text:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms__text:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms__text:not(:last-child) {
    margin-bottom: 15px
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 100;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  z-index: 1
}

.popup__body {
  position: relative;
  z-index: 2;
  width: 550px;
  background-color: #70178f;
  padding: 35px 20px
}

@media (max-width:991px) {
  .popup__body {
    padding: 30px 15px
  }
}

@media (max-width:600px) {
  .popup__body {
    padding: 20px 10px;
    width: 95%
  }
}

.popup__text {
  font-weight: 400;
  font-size: 21px;
  line-height: 1.52;
  color: #fff
}

@media (max-width:600px) {
  .popup__text {
    font-size: 18px
  }
}

.popup__text:not(:last-child) {
  margin-bottom: 20px
}

.popup__exit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5px;
  width: 93px;
  min-height: 48px;
  background-color: #c514be;
  border-radius: 9px;
  font-weight: 400;
  font-size: 21px;
  line-height: 1;
  color: #fff;
  margin-left: auto;
  -webkit-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out
}

@media (max-width:600px) {
  .popup__exit {
    font-size: 18px
  }
}

@media (any-hover:hover) {
  .popup__exit:hover {
    opacity: .6
  }
}

.popup__exit:active {
  opacity: .2;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.popup-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible
}

.webp .main {
  background-image: url(../img/hero.webp)
}

@media (max-width:991px) {
  .webp .main {
    background-image: url(../img/hero_2.webp)
  }
}

@media (max-width:600px) {
  .webp .main {
    background-image: url(../img/hero_3.webp)
  }
}