@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

:active,
:focus {
  outline: 0
}

a:active,
a:focus {
  outline: 0
}

aside,
footer,
header,
nav {
  display: block
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

button,
input,
textarea {
  font-family: inherit
}

input::-ms-clear {
  display: none
}

button {
  cursor: pointer
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a,
a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

ul li {
  list-style: none
}

img {
  vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

picture {
  display: block;
  width: 100%;
  height: 100%
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto
}

@media (max-width:991px) {
  .container {
    padding: 0 15px
  }
}

@media (max-width:600px) {
  .container {
    padding: 0 10px
  }
}

body {
  background-color: #1b1b1b
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
  overflow: hidden
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

main:not(:last-child) {
  margin-bottom: 90px
}

.vverh {
  padding: 15px 0
}

@media (max-width:991px) {
  .vverh:not(:last-child) {
    margin-bottom: 20px
  }
}

.vverh__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

@media (max-width:991px) {
  .vverh__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #1b1b1b;
    z-index: 100;
    padding: calc(15px + 15 * ((100vw - 320px)/ 1600));
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
    -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out
  }
}

.vverh__exit-menu {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent
}

@media (max-width:991px) {
  .vverh__exit-menu {
    display: block;
    top: calc(15px + 15 * ((100vw - 320px)/ 1600));
    left: calc(15px + 15 * ((100vw - 320px)/ 1600))
  }
}

.vverh__exit-menu::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.vverh__exit-menu::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.vverh__logo {
  display: block;
  width: 217px;
  height: 108px
}

@media (max-width:600px) {
  .vverh__logo {
    width: 158px;
    height: 79px
  }
}

.vverh__logo_menu {
  display: none;
  margin-left: auto;
  margin-bottom: 100px
}

@media (max-width:991px) {
  .vverh__logo_menu {
    display: block
  }
}

.vverh__logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 15px 35px
}

@media (max-width:991px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 50px
  }
}

.nav__link {
  display: inline-block;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.2;
  color: #fff;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  -o-transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out
}

@media (max-width:991px) {
  .nav__link {
    font-size: 24px
  }
}

@media (any-hover:hover) {
  .nav__link:hover {
    -webkit-transform: translateX(2px);
    -ms-transform: translateX(2px);
    transform: translateX(2px)
  }
}

.nav__link:active {
  -webkit-transform: translateX(2px);
  -ms-transform: translateX(2px);
  transform: translateX(2px);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  width: 52px;
  height: 25px;
  background-color: transparent
}

@media (max-width:991px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
}

@media (max-width:600px) {
  .burger {
    width: 42px
  }
}

.burger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px;
  border-radius: 15px
}

.burger span:first-child {
  margin-bottom: 5px
}

.burger span:last-child {
  margin-bottom: 0
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible
}

.vverh2:not(:last-child) {
  margin-bottom: 90px
}

.no-webp .vverh2__content {
  background-image: url(../img/hero.png)
}

.vverh2__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 25px;
  min-height: 624px
}

@media (max-width:991px) {
  .no-webp .vverh2__content {
    background-image: url(../img/hero_2.png)
  }

  .vverh2__content {
    min-height: 679px;
    padding: 30px 10px
  }
}

@media (max-width:600px) {
  .no-webp .vverh2__content {
    background-image: url(../img/hero_3.png)
  }

  .vverh2__content {
    min-height: 624px
  }
}

.vverh2__content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
  z-index: 1;
  display: none
}

@media (max-width:991px) {
  .vverh2__content::before {
    display: block
  }
}

.vverh2__body {
  position: relative;
  z-index: 2;
  max-width: 550px
}

.vverh2__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.142;
  color: #f9ca00
}

@media (max-width:991px) {
  .vverh2__title {
    font-size: 44px
  }
}

@media (max-width:600px) {
  .vverh2__title {
    font-size: 32px
  }
}

.vverh2__title:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .vverh2__title:not(:last-child) {
    margin-bottom: 25px
  }
}

@media (max-width:600px) {
  .vverh2__title:not(:last-child) {
    margin-bottom: 20px
  }
}

.vverh2__text {
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  color: #fff
}

@media (max-width:600px) {
  .vverh2__text {
    font-size: 20px
  }
}

.vverh2__text:not(:last-child) {
  margin-bottom: 75px
}

@media (max-width:991px) {
  .vverh2__text:not(:last-child) {
    margin-bottom: 45px
  }
}

@media (max-width:600px) {
  .vverh2__text:not(:last-child) {
    margin-bottom: 30px
  }
}

.vverh2__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  width: 297px;
  min-height: 74px;
  background-color: rgba(249, 202, 0, .4);
  border: 6px solid #dc8743;
  border-radius: 57px;
  font-weight: 400;
  font-size: 26px;
  line-height: 1;
  color: #fff;
  -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out;
  -o-transition: color .2s ease-in-out, background-color .2s ease-in-out;
  transition: color .2s ease-in-out, background-color .2s ease-in-out
}

@media (max-width:991px) {
  .vverh2__link {
    width: 334px
  }
}

@media (max-width:600px) {
  .vverh2__link {
    font-size: 20px;
    width: 243px;
    min-height: 67px
  }
}

@media (any-hover:hover) {
  .vverh2__link:hover {
    color: #f9ca00;
    background-color: #fff
  }
}

.vverh2__link:active {
  color: #f9ca00;
  background-color: #fff;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.see:not(:last-child) {
  margin-bottom: 90px
}

.see__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.15;
  color: #f9ca00
}

@media (max-width:991px) {
  .see__title {
    font-size: 35px
  }
}

@media (max-width:600px) {
  .see__title {
    font-size: 30px
  }
}

.see__title:not(:last-child) {
  margin-bottom: 20px
}

@media (max-width:991px) {
  .see__title:not(:last-child) {
    margin-bottom: 30px
  }
}

@media (max-width:600px) {
  .see__title:not(:last-child) {
    margin-bottom: 15px
  }
}

.see__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px
}

.see__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 440px;
  flex: 0 0 440px;
  height: 255px
}

@media (max-width:991px) {
  .see__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 218px;
    flex: 0 0 218px;
    height: 123px
  }
}

@media (max-width:600px) {
  .see__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 158px;
    flex: 0 0 158px;
    height: 89px
  }
}

@media (max-width:360px) {
  .see__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    height: 150px
  }
}

.see__item img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.o-nas:not(:last-child) {
  margin-bottom: 90px
}

.no-webp .o-nas__content {
  background-image: url(../img/about.png)
}

.o-nas__content {
  min-height: 507px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 25px
}

@media (max-width:991px) {
  .o-nas__content {
    padding: 30px 10px
  }
}

.o-nas__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.15;
  color: #f9ca00
}

@media (max-width:991px) {
  .o-nas__title {
    font-size: 35px
  }
}

@media (max-width:600px) {
  .o-nas__title {
    font-size: 30px
  }
}

.o-nas__title:not(:last-child) {
  margin-bottom: 20px
}

@media (max-width:991px) {
  .o-nas__title:not(:last-child) {
    margin-bottom: 30px
  }
}

@media (max-width:600px) {
  .o-nas__title:not(:last-child) {
    margin-bottom: 15px
  }
}

.o-nas__text {
  font-weight: 400;
  font-size: 21px;
  line-height: 1.142;
  color: #fff;
  max-width: 665px
}

.o-nas__text_margin:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .o-nas__text_margin:not(:last-child) {
    margin-bottom: 25px
  }
}

@media (max-width:600px) {
  .o-nas__text_margin:not(:last-child) {
    margin-bottom: 20px
  }
}

.review:not(:last-child) {
  margin-bottom: 90px
}

.review__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.15;
  color: #f9ca00
}

@media (max-width:991px) {
  .review__title {
    font-size: 35px
  }
}

@media (max-width:600px) {
  .review__title {
    font-size: 30px
  }
}

.review__title:not(:last-child) {
  margin-bottom: 20px
}

@media (max-width:991px) {
  .review__title:not(:last-child) {
    margin-bottom: 30px
  }
}

@media (max-width:600px) {
  .review__title:not(:last-child) {
    margin-bottom: 15px
  }
}

.review__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
  background: #282828;
  border-radius: 53px;
  padding: 10px 30px;
  gap: 70px
}

@media (max-width:600px) {
  .review__controls {
    padding: 10px 20px;
    gap: 40px
  }
}

.review__button {
  display: block;
  background-color: transparent;
  -webkit-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out
}

@media (any-hover:hover) {
  .review__button:hover {
    opacity: .6
  }
}

.review__button:active {
  opacity: .2;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.review__button img {
  display: block;
  width: 43px;
  height: 43px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

@media (max-width:600px) {
  .review__button img {
    width: 34px;
    height: 34px
  }
}

.review-swiper:not(:last-child) {
  margin-bottom: 30px
}

.review-swiper__slide {
  width: 572px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 65px;
  height: auto;
  background-color: #282828;
  padding: 15px 25px
}

@media (max-width:991px) {
  .review-swiper__slide {
    width: 583px
  }
}

@media (max-width:600px) {
  .review-swiper__slide {
    gap: 30px;
    padding: 10px;
    width: 100%
  }
}

.review-swiper__avatar {
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 144px;
  flex: 0 0 144px;
  height: 144px
}

@media (max-width:600px) {
  .review-swiper__avatar {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 51px;
    flex: 0 0 51px;
    height: 51px
  }
}

.review-swiper__avatar img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.review-swiper__name {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.16;
  color: #fff
}

@media (max-width:600px) {
  .review-swiper__name {
    font-size: 16px
  }
}

.review-swiper__name:not(:last-child) {
  margin-bottom: 5px
}

.review-swiper__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px
}

.review-swiper__stars:not(:last-child) {
  margin-bottom: 20px
}

@media (max-width:600px) {
  .review-swiper__stars:not(:last-child) {
    margin-bottom: 10px
  }
}

.review-swiper__star {
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 29px;
  flex: 0 0 29px;
  height: 29px
}

@media (max-width:600px) {
  .review-swiper__star {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 22px;
    flex: 0 0 22px;
    height: 22px
  }
}

.review-swiper__star img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.review-swiper__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  color: #fff
}

@media (max-width:600px) {
  .review-swiper__text {
    font-size: 17px
  }
}

.review-swiper-next img {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg)
}

.niz {
  background-color: #090909;
  padding: 35px 0 50px 0
}

@media (max-width:991px) {
  .niz {
    padding: 30px 0 55px 0
  }
}

@media (max-width:600px) {
  .niz {
    padding: 25px 0 50px 0
  }
}

.niz__logo {
  display: block;
  margin: 0 auto;
  width: 210px;
  height: 105px
}

@media (max-width:600px) {
  .niz__logo {
    width: 154px;
    height: 77px
  }
}

.niz__logo:not(:last-child) {
  margin-bottom: 20px
}

@media (max-width:600px) {
  .niz__logo:not(:last-child) {
    margin-bottom: 30px
  }
}

.niz__logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.niz__wrapper-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  max-width: 685px;
  margin: 0 auto
}

.niz__wrapper-text:not(:last-child) {
  margin-bottom: 20px
}

@media (max-width:600px) {
  .niz__wrapper-text:not(:last-child) {
    margin-bottom: 30px
  }
}

.niz__icon {
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 53px;
  flex: 0 0 53px;
  height: 53px
}

.niz__icon img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.niz__icon img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.niz__text {
  font-weight: 600;
  font-size: 17px;
  line-height: 1.49;
  color: #ccc
}

@media (max-width:600px) {
  .niz__text {
    font-size: 15px
  }
}

.niz__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 15px 60px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

@media (max-width:1440px) {
  .niz__list {
    gap: 15px 50px
  }
}

@media (max-width:1220px) {
  .niz__list {
    gap: 15px 40px
  }
}

@media (max-width:991px) {
  .niz__list {
    gap: 10px 30px
  }
}

@media (max-width:600px) {
  .niz__list {
    gap: 10px 20px
  }
}

.niz__link {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  -o-transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out
}

@media (any-hover:hover) {
  .niz__link:hover {
    -webkit-transform: translateX(3px);
    -ms-transform: translateX(3px);
    transform: translateX(3px)
  }
}

.niz__link:active {
  -webkit-transform: translateX(3px);
  -ms-transform: translateX(3px);
  transform: translateX(3px);
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out
}

.popup.popup-visible {
  opacity: 1;
  visibility: visible;
  pointer-events: visible
}

.popup__close {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6)
}

.popup__body {
  position: relative;
  z-index: 2;
  width: 555px;
  background-color: #1b1b1b;
  padding: 35px 20px
}

@media (max-width:991px) {
  .popup__body {
    padding: 25px 15px
  }
}

@media (max-width:600px) {
  .popup__body {
    padding: 20px 10px;
    width: 95%
  }
}

.popup__text {
  font-weight: 400;
  font-size: 26px;
  line-height: 1.153;
  color: #fff
}

@media (max-width:991px) {
  .popup__text {
    font-size: 22px
  }
}

@media (max-width:600px) {
  .popup__text {
    font-size: 18px
  }
}

.popup__text:not(:last-child) {
  margin-bottom: 25px
}

@media (max-width:991px) {
  .popup__text:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .popup__text:not(:last-child) {
    margin-bottom: 15px
  }
}

.popup__exit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5px;
  width: 89px;
  min-height: 43px;
  background-color: #dc8743;
  border-radius: 37px;
  margin-left: auto;
  font-weight: 400;
  font-size: 21px;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out;
  -o-transition: color .2s ease-in-out, background-color .2s ease-in-out;
  transition: color .2s ease-in-out, background-color .2s ease-in-out
}

@media (max-width:991px) {
  .popup__exit {
    font-size: 18px;
    min-height: 35px;
    width: 69px
  }
}

@media (max-width:600px) {
  .popup__exit {
    font-size: 16px
  }
}

@media (any-hover:hover) {
  .popup__exit:hover {
    color: #dc8743;
    background-color: #fff
  }
}

.popup__exit:active {
  color: #dc8743;
  background-color: #fff;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.terms {
  margin-top: 50px
}

@media (max-width:991px) {
  .terms {
    margin-top: 30px
  }
}

@media (max-width:600px) {
  .terms {
    margin-top: 20px
  }
}

.terms__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.15;
  color: #f9ca00
}

@media (max-width:991px) {
  .terms__title {
    font-size: 30px
  }
}

@media (max-width:600px) {
  .terms__title {
    font-size: 22px
  }
}

.terms__title:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms__title:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms__title:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms__text {
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  color: #fff
}

@media (max-width:991px) {
  .terms__text {
    font-size: 22px
  }
}

@media (max-width:600px) {
  .terms__text {
    font-size: 18px
  }
}

.terms__text:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms__text:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms__text:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms__subtitle {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.15;
  color: #f9ca00
}

@media (max-width:991px) {
  .terms__subtitle {
    font-size: 30px
  }
}

@media (max-width:600px) {
  .terms__subtitle {
    font-size: 22px
  }
}

.terms__subtitle:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms__subtitle:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms__subtitle:not(:last-child) {
    margin-bottom: 15px
  }
}

.webp .vverh2__content {
  background-image: url(../img/hero.webp)
}

@media (max-width:991px) {
  .webp .vverh2__content {
    background-image: url(../img/hero_2.webp)
  }
}

@media (max-width:600px) {
  .webp .vverh2__content {
    background-image: url(../img/hero_3.webp)
  }
}

.webp .o-nas__content {
  background-image: url(../img/about.webp)
}