@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

:active,
:focus {
  outline: 0
}

a:active,
a:focus {
  outline: 0
}

aside,
footer,
header,
nav {
  display: block
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

button,
input,
textarea {
  font-family: inherit
}

input::-ms-clear {
  display: none
}

button {
  cursor: pointer
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a,
a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

ul li {
  list-style: none
}

img {
  vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

picture {
  display: block;
  width: 100%;
  height: 100%
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto
}

@media (max-width:991px) {
  .container {
    padding: 0 15px
  }
}

@media (max-width:600px) {
  .container {
    padding: 0 10px
  }
}

body {
  background-color: #1c0a47
}

.page {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
  overflow: hidden
}

.page__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  margin: 0 auto
}

@media (max-width:991px) {
  .page__content {
    display: block
  }
}

.page__bottom {
  width: 83%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

@media (max-width:991px) {
  .page__bottom {
    width: 100%
  }
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

main:not(:last-child) {
  margin-bottom: 90px
}

.header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 236px;
  flex: 0 0 236px;
  background-color: #0e0329;
  padding: 30px 0
}

@media (max-width:991px) {
  .header {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    background-color: transparent;
    width: 100%;
    padding: 15px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10
  }
}

@media (max-width:991px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
}

@media (max-width:991px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0e0329;
    z-index: 100;
    padding: calc(15px + 15 * ((100vw - 320px)/ 1600));
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
    -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out
  }
}

.header__exit-menu {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent
}

@media (max-width:991px) {
  .header__exit-menu {
    display: block;
    top: calc(15px + 15 * ((100vw - 320px)/ 1600));
    right: calc(15px + 15 * ((100vw - 320px)/ 1600))
  }
}

.header__exit-menu::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.header__exit-menu::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.header__logo {
  display: block;
  width: 206px;
  height: 68px;
  margin-bottom: 140px
}

@media (max-width:991px) {
  .header__logo {
    width: 133px;
    height: 44px;
    margin-bottom: 0
  }
}

.header__logo_menu {
  display: none;
  margin-right: auto
}

@media (max-width:991px) {
  .header__logo_menu {
    margin-bottom: 100px;
    display: block
  }
}

.header__logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

@media (max-width:991px) {
  .nav {
    width: 100%;
    text-align: center
  }
}

.nav__item:not(:last-child) {
  margin-bottom: 32px
}

@media (max-width:991px) {
  .nav__item:not(:last-child) {
    margin-bottom: 60px
  }
}

.nav__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  color: #fff;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out
}

@media (max-width:991px) {
  .nav__link {
    font-size: 20px;
    gap: 15px
  }
}

@media (max-width:600px) {
  .nav__link {
    font-size: 24px
  }
}

.nav__link img {
  display: block;
  width: 27px;
  height: 27px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

@media (max-width:991px) {
  .nav__link img {
    width: 32px;
    height: 32px
  }
}

@media (any-hover:hover) {
  .nav__link:hover {
    color: #cd02b6
  }
}

.nav__link:active {
  color: #cd02b6;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  width: 52px;
  height: 25px;
  background-color: transparent
}

@media (max-width:991px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
}

@media (max-width:600px) {
  .burger {
    width: 42px
  }
}

.burger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px;
  border-radius: 10px
}

.burger span:first-child {
  margin-bottom: 5px
}

.burger span:last-child {
  margin-bottom: 0
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible
}

.no-webp .firm {
  background-image: url(../img/hero.png)
}

.firm {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover
}

@media (max-width:991px) {
  .no-webp .firm {
    background-image: url(../img/hero_2.png)
  }
}

@media (max-width:600px) {
  .no-webp .firm {
    background-image: url(../img/hero_3.png)
  }
}

.firm:not(:last-child) {
  margin-bottom: 40px
}

@media (max-width:991px) {
  .firm:not(:last-child) {
    margin-bottom: 30px
  }
}

.firm__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 30px 0;
  min-height: 475px
}

@media (max-width:991px) {
  .firm__content {
    min-height: 456px
  }
}

.firm__body {
  max-width: 690px
}

@media (max-width:991px) {
  .firm__body {
    max-width: 350px
  }
}

.firm__title {
  font-weight: 900;
  font-size: 39px;
  line-height: 1.41;
  text-align: center;
  text-transform: uppercase;
  color: #fff
}

@media (max-width:991px) {
  .firm__title {
    font-size: 30px
  }
}

.firm__title span:first-child {
  color: #e63ba1
}

.firm__title span:last-child {
  color: #2ec0a5
}

.firm__text {
  font-weight: 400;
  font-size: 27px;
  line-height: 1.14;
  text-align: center;
  color: #fff
}

@media (max-width:991px) {
  .firm__text {
    font-size: 17px
  }
}

@media (max-width:600px) {
  .firm__text {
    font-size: 15px
  }
}

.firm__text:not(:last-child) {
  margin-bottom: 57px
}

@media (max-width:991px) {
  .firm__text:not(:last-child) {
    margin-bottom: 38px
  }
}

@media (max-width:600px) {
  .firm__text:not(:last-child) {
    margin-bottom: 44px
  }
}

.firm__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  width: 218px;
  min-height: 53px;
  background: -o-radial-gradient(50% 50%, 50% 845.92%, #e63ba1 0, #700998 100%);
  background: radial-gradient(50% 845.92% at 50% 50%, #e63ba1 0, #700998 100%);
  border-radius: 39px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  color: #fff;
  -webkit-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  margin: 0 auto
}

@media (max-width:991px) {
  .firm__link {
    width: 161px;
    font-size: 16px;
    min-height: 39px
  }
}

@media (max-width:600px) {
  .firm__link {
    width: 157px
  }
}

@media (any-hover:hover) {
  .firm__link:hover {
    opacity: .6
  }
}

.firm__link:active {
  opacity: .2;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.our:not(:last-child) {
  margin-bottom: 90px
}

.our__title {
  font-weight: 900;
  font-size: 30px;
  line-height: 1.4;
  text-transform: uppercase;
  color: #fff
}

@media (max-width:991px) {
  .our__title {
    font-size: 25px
  }
}

.our__title span {
  color: #bb23e0
}

.our__title:not(:last-child) {
  margin-bottom: 20px
}

.our__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px
}

@media (max-width:991px) {
  .our__content {
    gap: 20px
  }
}

@media (max-width:600px) {
  .our__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}

.our__list {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 685px;
  flex: 0 1 685px
}

@media (max-width:600px) {
  .our__list {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%
  }
}

.our__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 28px
}

@media (max-width:991px) {
  .our__item {
    gap: 20px
  }
}

.our__item:not(:last-child) {
  margin-bottom: 25px
}

@media (max-width:991px) {
  .our__item:not(:last-child) {
    margin-bottom: 15px
  }
}

.our__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 72px;
  flex: 0 0 72px;
  height: 73px
}

@media (max-width:600px) {
  .our__icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 69px;
    flex: 0 0 69px;
    height: 70px
  }
}

.our__icon img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.our__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  color: #fff
}

@media (max-width:991px) {
  .our__text {
    font-size: 15px
  }
}

@media (max-width:600px) {
  .our__text {
    font-size: 13px
  }
}

.our__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 426px;
  flex: 0 0 426px;
  height: 313px;
  border-radius: 10px
}

@media (max-width:1200px) {
  .our__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 350px;
    flex: 0 0 350px;
    height: 237px
  }
}

@media (max-width:991px) {
  .our__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 251px;
    flex: 0 0 251px;
    height: 184px
  }
}

@media (max-width:600px) {
  .our__image {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    max-width: 251px;
    height: 184px;
    margin: 0 auto
  }
}

.our__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.oddensen:not(:last-child) {
  margin-bottom: 90px
}

.oddensen__title {
  font-weight: 900;
  font-size: 30px;
  line-height: 1.4;
  text-transform: uppercase;
  color: #fff
}

@media (max-width:991px) {
  .oddensen__title {
    font-size: 25px
  }
}

.oddensen__title span {
  color: #2ec0a5
}

.oddensen__title:not(:last-child) {
  margin-bottom: 20px
}

.oddensen__content {
  display: -ms-grid;
  display: grid;
  grid-template: auto/repeat(auto-fill, minmax(500px, 1fr));
  gap: 10px 35px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

@media (max-width:600px) {
  .oddensen__content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}

.oddensen__text {
  font-weight: 400;
  font-size: 23px;
  line-height: 1.13;
  color: #eaeaea
}

@media (max-width:991px) {
  .oddensen__text {
    font-size: 19px
  }
}

@media (max-width:600px) {
  .oddensen__text {
    font-size: 17px
  }
}

.oddensen__text:not(:last-child) {
  margin-bottom: 10px
}

.games:not(:last-child) {
  margin-bottom: 90px
}

.games__title {
  font-weight: 900;
  font-size: 30px;
  line-height: 1.4;
  text-transform: uppercase;
  color: #fff
}

@media (max-width:991px) {
  .games__title {
    font-size: 25px
  }
}

.games__title span {
  color: #e63ba1
}

.games__title:not(:last-child) {
  margin-bottom: 20px
}

.games__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px
}

.games__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 320px;
  flex: 0 0 320px
}

@media (max-width:991px) {
  .games__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 300px;
    flex: 0 0 300px
  }
}

@media (max-width:400px) {
  .games__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%
  }
}

.games__item_3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 425px;
  flex: 0 0 425px
}

@media (max-width:991px) {
  .games__item_3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 300px;
    flex: 0 0 300px
  }
}

@media (max-width:400px) {
  .games__item_3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%
  }
}

.games__image {
  height: 276px;
  overflow: hidden;
  border-radius: 5px
}

@media (max-width:991px) {
  .games__image {
    height: 246px
  }
}

.games__image a {
  display: block;
  width: 100%;
  height: 100%
}

.games__image a picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.games__link {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  width: 196px;
  min-height: 52px;
  margin: 0 auto;
  background: -o-radial-gradient(50% 50%, 50% 196.17%, #e63ba1 0, #a50abe 100%);
  background: radial-gradient(50% 196.17% at 50% 50%, #e63ba1 0, #a50abe 100%);
  border-radius: 37px;
  font-weight: 400;
  font-size: 23px;
  line-height: 1;
  color: #fff;
  -webkit-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  margin-top: -25px
}

@media (max-width:991px) {
  .games__link {
    width: 161px;
    min-height: 45px
  }
}

@media (any-hover:hover) {
  .games__link:hover {
    opacity: .6
  }
}

.games__link:active {
  opacity: .2;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.footer {
  background-color: #0e0329;
  padding: 65px 0 30px 0
}

@media (max-width:991px) {
  .footer {
    padding: 30px 0 20px 0
  }
}

@media (max-width:600px) {
  .footer {
    padding: 10px 0 30px 0
  }
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

@media (max-width:600px) {
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
  }
}

.footer__top:not(:last-child) {
  margin-bottom: 20px
}

.footer__text {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.1;
  color: #fff;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 550px;
  flex: 0 1 550px
}

@media (max-width:991px) {
  .footer__text {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 342px;
    flex: 0 1 342px;
    font-size: 14px
  }
}

@media (max-width:600px) {
  .footer__text {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%
  }
}

.footer__logo {
  display: block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  max-width: 330px;
  height: 109px
}

@media (max-width:991px) {
  .footer__logo {
    max-width: 238px;
    height: 79px
  }
}

@media (max-width:600px) {
  .footer__logo {
    margin-left: auto
  }
}

.footer__logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px 25px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

@media (max-width:991px) {
  .footer__list {
    gap: 10px 20px
  }
}

.footer__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  color: #fff;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out
}

@media (any-hover:hover) {
  .footer__link:hover {
    color: #cd02b6
  }
}

.footer__link:active {
  color: #cd02b6;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.terms {
  padding-top: 100px
}

@media (max-width:991px) {
  .terms {
    padding-top: 130px
  }
}

.terms h1 {
  font-weight: 900;
  font-size: 30px;
  line-height: 1.175;
  text-align: center;
  letter-spacing: -.025em;
  color: #fff
}

@media (max-width:991px) {
  .terms h1 {
    font-size: 26px
  }
}

@media (max-width:600px) {
  .terms h1 {
    font-size: 22px
  }
}

.terms h1:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h1:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h1:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms h2 {
  font-weight: 900;
  font-size: 30px;
  line-height: 1.175;
  text-align: center;
  letter-spacing: -.025em;
  color: #fff
}

@media (max-width:991px) {
  .terms h2 {
    font-size: 26px
  }
}

@media (max-width:600px) {
  .terms h2 {
    font-size: 22px
  }
}

.terms h2:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h2:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h2:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms p {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.04;
  text-align: center;
  letter-spacing: -.025em;
  color: #fff
}

@media (max-width:991px) {
  .terms p {
    font-size: 18px
  }
}

@media (max-width:600px) {
  .terms p {
    font-size: 16px
  }
}

.terms p:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms p:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms p:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms ul:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms ul:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms ul:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms li {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.04;
  text-align: center;
  letter-spacing: -.025em;
  color: #fff
}

@media (max-width:991px) {
  .terms li {
    font-size: 16px
  }
}

@media (max-width:600px) {
  .terms li {
    font-size: 14px
  }
}

.terms li:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms li:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms li:not(:last-child) {
    margin-bottom: 15px
  }
}

.play {
  padding-top: 100px
}

@media (max-width:991px) {
  .play {
    padding-top: 130px
  }
}

.play__content {
  height: 750px
}

@media (max-width:991px) {
  .play__content {
    height: 550px
  }
}

@media (max-width:600px) {
  .play__content {
    height: 350px
  }
}

.play__content iframe {
  width: 100%;
  height: 100%
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1
}

.popup__body {
  position: relative;
  width: 430px;
  background: #0e0329;
  border-radius: 5px;
  z-index: 2;
  padding: 25px 15px
}

@media (max-width:600px) {
  .popup__body {
    width: 95%;
    padding: 15px 10px
  }
}

.popup__form {
  width: 100%
}

.popup__form input {
  position: absolute;
  top: 0;
  left: -5000px
}

.popup__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.04;
  letter-spacing: -.025em;
  color: #fff
}

@media (max-width:991px) {
  .popup__text {
    font-size: 18px
  }
}

@media (max-width:600px) {
  .popup__text {
    font-size: 16px
  }
}

.popup__text:not(:last-child) {
  margin-bottom: 20px
}

.popup__form-bottom {
  text-align: center
}

.popup__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  width: 170px;
  min-height: 37px;
  background-color: #a50abe;
  border-radius: 37px;
  -webkit-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  letter-spacing: -.025em;
  color: #fff
}

@media (max-width:991px) {
  .popup__button {
    width: 150px
  }
}

@media (max-width:600px) {
  .popup__button {
    width: 130px;
    min-height: 30px;
    font-size: 14px
  }
}

@media (any-hover:hover) {
  .popup__button:hover {
    opacity: .6
  }
}

.popup__button:active {
  opacity: .2;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.webp .firm {
  background-image: url(../img/hero.webp)
}

@media (max-width:991px) {
  .webp .firm {
    background-image: url(../img/hero_2.webp)
  }
}

@media (max-width:600px) {
  .webp .firm {
    background-image: url(../img/hero_3.webp)
  }
}