@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

:active,
:focus {
  outline: 0
}

a:active,
a:focus {
  outline: 0
}

aside,
footer,
header,
nav {
  display: block
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

button,
input,
textarea {
  font-family: inherit
}

input::-ms-clear {
  display: none
}

button {
  cursor: pointer
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a,
a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

ul li {
  list-style: none
}

img {
  vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

picture {
  display: block;
  width: 100%;
  height: 100%
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

.container {
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto
}

@media (max-width:991px) {
  .container {
    padding: 0 15px
  }
}

@media (max-width:600px) {
  .container {
    padding: 0 10px
  }
}

body {
  background-color: #1b0a4f
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
  overflow: hidden
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

main:not(:last-child) {
  margin-bottom: 90px
}

.head {
  padding: 15px 0
}

.head:not(:last-child) {
  margin-bottom: 35px
}

@media (max-width:991px) {
  .head:not(:last-child) {
    margin-bottom: 62px
  }
}

@media (max-width:600px) {
  .head:not(:last-child) {
    max-block-size: 50px
  }
}

.head__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

@media (max-width:991px) {
  .head__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #1b0a4f;
    z-index: 100;
    padding: calc(15px + 15 * ((100vw - 320px)/ 1600));
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
    -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out
  }
}

.head__exit-menu {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent
}

@media (max-width:991px) {
  .head__exit-menu {
    display: block;
    top: calc(15px + 15 * ((100vw - 320px)/ 1600));
    left: calc(15px + 15 * ((100vw - 320px)/ 1600))
  }
}

.head__exit-menu::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.head__exit-menu::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.head__logo {
  display: block;
  width: 174px;
  height: 60px
}

@media (max-width:991px) {
  .head__logo {
    width: 155px;
    height: 53px
  }
}

@media (max-width:600px) {
  .head__logo {
    width: 147px;
    height: 50px
  }
}

.head__logo_menu {
  display: none;
  margin-left: auto;
  margin-bottom: 100px
}

@media (max-width:991px) {
  .head__logo_menu {
    display: block
  }
}

.head__logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 15px 50px
}

@media (max-width:991px) {
  .nav__list {
    row-gap: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}

.nav__link {
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1;
  color: #fff
}

@media (max-width:991px) {
  .nav__link {
    font-size: 21px
  }
}

@media (max-width:600px) {
  .nav__link {
    font-size: 24px
  }
}

@media (any-hover:hover) {
  .nav__link:hover {
    color: #ff9500
  }
}

.nav__link:active {
  color: #ff9500;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  width: 52px;
  height: 25px;
  background-color: transparent
}

@media (max-width:991px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
}

@media (max-width:600px) {
  .burger {
    width: 42px
  }
}

.burger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px;
  border-radius: 10px
}

.burger span:first-child {
  margin-bottom: 5px
}

.burger span:last-child {
  margin-bottom: 0
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible
}

.polskie:not(:last-child) {
  margin-bottom: 70px
}

@media (max-width:600px) {
  .polskie:not(:last-child) {
    margin-bottom: 90px
  }
}

.polskie__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px 20px
}

@media (max-width:991px) {
  .polskie__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 20px
  }
}

.polskie__descr {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 575px;
  flex: 0 1 575px
}

@media (max-width:991px) {
  .polskie__descr {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%
  }
}

.polskie__title {
  font-weight: 900;
  font-size: 66px;
  line-height: 1.4;
  text-transform: uppercase;
  color: #00d7e5
}

@media (max-width:600px) {
  .polskie__title {
    font-size: 39px
  }
}

.polskie__title:not(:last-child) {
  margin-bottom: 5px
}

@media (max-width:600px) {
  .polskie__title:not(:last-child) {
    margin-bottom: 15px
  }
}

.polskie__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  color: #fff
}

@media (max-width:600px) {
  .polskie__text {
    font-size: 18px
  }
}

.polskie__text:not(:last-child) {
  margin-bottom: 40px
}

@media (max-width:991px) {
  .polskie__text:not(:last-child) {
    margin-bottom: 30px
  }
}

@media (max-width:600px) {
  .polskie__text:not(:last-child) {
    margin-bottom: 20px
  }
}

.polskie__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  -webkit-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  width: 240px;
  min-height: 50px;
  background: -o-radial-gradient(50% 50%, 50% 725.13%, #470c7c 0, #b489fa 100%);
  background: radial-gradient(50% 725.13% at 50% 50%, #470c7c 0, #b489fa 100%);
  border-radius: 71px;
  font-weight: 400;
  font-size: 19px;
  line-height: 1;
  color: #fff
}

@media (max-width:600px) {
  .polskie__link {
    width: 231px
  }
}

@media (any-hover:hover) {
  .polskie__link:hover {
    opacity: .6
  }
}

.polskie__link:active {
  opacity: .2;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.polskie__image {
  position: relative;
  padding-bottom: 35%;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 571px;
  flex: 0 1 571px
}

@media (max-width:991px) {
  .polskie__image {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%;
    padding-bottom: 45%
  }
}

@media (max-width:700px) {
  .polskie__image {
    padding-bottom: 55%
  }
}

@media (max-width:500px) {
  .polskie__image {
    padding-bottom: 75%
  }
}

.polskie__image img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}
.gry {
  padding: 15px 0 60px 0;
  background-color: #0C82B5;
}
@media (max-width: 991px) {
  .gry {
    padding: 25px 0 35px 0;
  }
}
@media (max-width: 600px) {
  .gry {
    padding: 20px 0 40px 0;
  }
}
.gry:not(:last-child) {
  margin-bottom: 90px
}

.gry__title {
  font-weight: 900;
  font-size: 30px;
  line-height: 1.4;
  text-transform: uppercase;
  color: #1b0a4f
}

.gry__title:not(:last-child) {
  margin-bottom: 30px
}

.gry__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.gry__item {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 244px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 0 15px 15px 15px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 360px;
  flex: 0 0 360px
}

@media (max-width:991px) {
  .gry__item {
    height: 217px;
    padding: 0 10px 10px 10px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 330px;
    flex: 0 0 330px
  }
}

@media (max-width:450px) {
  .gry__item {
    height: 208px;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%
  }
}

.no-webp .gry__item_1 {
  background-image: url(../img/game-1.jpg)
}

.no-webp .gry__item_2 {
  background-image: url(../img/game-2.png)
}

.no-webp .gry__item_3 {
  background-image: url(../img/game-3.jpg)
}

.gry__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(27, 10, 79, 0)), to(#1b0a4f));
  background: -o-linear-gradient(top, rgba(27, 10, 79, 0) 0, #1b0a4f 100%);
  background: linear-gradient(180deg, rgba(27, 10, 79, 0) 0, #1b0a4f 100%);
  border-radius: 10px;
  z-index: 1
}

.gry__descr {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.gry__link {
  display: inline-block;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.1;
  color: #fff;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out
}

@media (max-width:991px) {
  .gry__link {
    font-size: 16px
  }
}

@media (any-hover:hover) {
  .gry__link:hover {
    color: #ff9500
  }
}

.gry__link:active {
  color: #ff9500;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.gry__play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 127px;
  flex: 0 0 127px;
  min-height: 39px;
  background-color: #ff9500;
  border-radius: 30px;
  font-weight: 400;
  font-size: 19px;
  line-height: 1;
  color: #fff;
  -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out;
  -o-transition: color .2s ease-in-out, background-color .2s ease-in-out;
  transition: color .2s ease-in-out, background-color .2s ease-in-out
}

@media (max-width:991px) {
  .gry__play {
    font-size: 15px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 112px;
    flex: 0 0 112px;
    min-height: 35px
  }
}

@media (max-width:600px) {
  .gry__play {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 103px;
    flex: 0 0 103px;
    min-height: 32px
  }
}

@media (any-hover:hover) {
  .gry__play:hover {
    color: #ff9500;
    background-color: #fff
  }
}

.gry__play:active {
  color: #ff9500;
  background-color: #fff;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.zalety:not(:last-child) {
  margin-bottom: 90px
}

.zalety__title {
  font-weight: 900;
  font-size: 30px;
  line-height: 1.4;
  text-transform: uppercase;
  color: #00d7e5
}

.zalety__title:not(:last-child) {
  margin-bottom: 30px
}

.zalety__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px
}

@media (max-width:700px) {
  .zalety__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}

.zalety__content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background-color: #0c82b5;
  border-radius: 10px
}

@media (max-width:991px) {
  .zalety__content::before {
    width: 80%
  }
}

@media (max-width:600px) {
  .zalety__content::before {
    width: 100%;
    height: 80%
  }
}

.zalety__list {
  padding: 50px 10px;
  position: relative;
  z-index: 2;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1
}

@media (max-width:991px) {
  .zalety__list {
    padding: 40px 10px
  }
}

@media (max-width:700px) {
  .zalety__list {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%
  }
}

@media (max-width:600px) {
  .zalety__list {
    padding: 30px 10px
  }
}

.zalety__item:not(:last-child) {
  margin-bottom: 20px
}

.zalety__subtitle {
  font-weight: 900;
  font-size: 20px;
  line-height: 1.4;
  text-transform: uppercase;
  color: #fff
}

.zalety__subtitle:not(:last-child) {
  margin-bottom: 15px
}

@media (max-width:991px) {
  .zalety__subtitle:not(:last-child) {
    margin-bottom: 10px
  }
}

.zalety__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  color: #fff
}

@media (max-width:991px) {
  .zalety__text {
    font-size: 18px
  }
}

.zalety__text:not(:last-child) {
  margin-bottom: 15px
}

.zalety__image {
  position: relative;
  z-index: 2;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 570px;
  flex: 0 1 570px;
  height: 370px;
  -ms-flex-item-align: end;
  align-self: flex-end
}

@media (max-width:1220px) {
  .zalety__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 500px;
    flex: 0 1 500px;
    height: 300px
  }
}

@media (max-width:991px) {
  .zalety__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 244px;
    flex: 0 0 244px;
    height: 159px
  }
}

@media (max-width:700px) {
  .zalety__image {
    max-width: 278px;
    height: 181px;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%;
    margin: 0 auto
  }
}

.zalety__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.nas:not(:last-child) {
  margin-bottom: 90px
}

.nas__title {
  font-weight: 900;
  font-size: 30px;
  line-height: 1.4;
  text-transform: uppercase;
  color: #00d7e5
}

.nas__title:not(:last-child) {
  margin-bottom: 30px
}

.nas__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px 25px
}

@media (max-width:991px) {
  .nas__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}

.nas__column:first-child {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 675px;
  flex: 0 1 675px
}

@media (max-width:991px) {
  .nas__column:first-child {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%
  }
}

.nas__column:last-child {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 475px;
  flex: 0 1 475px
}

@media (max-width:991px) {
  .nas__column:last-child {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%
  }
}

.nas__text {
  font-weight: 400;
  font-size: 23px;
  line-height: 1.13;
  color: #fff
}

@media (max-width:991px) {
  .nas__text {
    font-size: 20px
  }
}

.nas__text:not(:last-child) {
  margin-bottom: 15px
}

.bottom {
  padding: 15px 0 35px 0;
  background-color: #0c82b5
}

@media (max-width:991px) {
  .bottom {
    padding: 30px 0
  }
}

@media (max-width:600px) {
  .bottom {
    padding: 20px 0
  }
}

.bottom__logo {
  display: block;
  width: 174px;
  height: 60px;
  margin: 0 auto
}

@media (max-width:991px) {
  .bottom__logo {
    width: 156px;
    height: 54px
  }
}

@media (max-width:600px) {
  .bottom__logo {
    width: 147px;
    height: 51px
  }
}

.bottom__logo:not(:last-child) {
  margin-bottom: 10px
}

@media (max-width:991px) {
  .bottom__logo:not(:last-child) {
    margin-bottom: 15px
  }
}

@media (max-width:600px) {
  .bottom__logo:not(:last-child) {
    margin-bottom: 20px
  }
}

.bottom__logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.bottom__text {
  max-width: 575px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.44;
  text-align: center;
  color: #fff
}

.bottom__text:not(:last-child) {
  margin-bottom: 20px
}

.bottom__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 15px 20px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

@media (max-width:991px) {
  .bottom__list {
    gap: 10px 15px
  }
}

.bottom__link {
  display: inline-block;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.1;
  text-align: center;
  color: #fff;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out
}

@media (any-hover:hover) {
  .bottom__link:hover {
    color: #ff9500
  }
}

.bottom__link:active {
  color: #ff9500;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.terms {
  margin-top: 30px
}

@media (max-width:991px) {
  .terms {
    margin-top: 35px
  }
}

@media (max-width:600px) {
  .terms {
    margin-top: 40px
  }
}

.terms h1 {
  font-weight: 900;
  font-size: 35px;
  line-height: 1.175;
  text-align: center;
  letter-spacing: -.025em;
  text-transform: uppercase;
  color: #fdc80d
}

@media (max-width:991px) {
  .terms h1 {
    font-size: 28px
  }
}

@media (max-width:600px) {
  .terms h1 {
    font-size: 22px
  }
}

.terms h1:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h1:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h1:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms h2 {
  font-weight: 900;
  font-size: 35px;
  line-height: 1.175;
  text-align: center;
  letter-spacing: -.025em;
  text-transform: uppercase;
  color: #fdc80d
}

@media (max-width:991px) {
  .terms h2 {
    font-size: 28px
  }
}

@media (max-width:600px) {
  .terms h2 {
    font-size: 22px
  }
}

.terms h2:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h2:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h2:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms p {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.04;
  text-align: center;
  letter-spacing: -.025em;
  color: #fff
}

@media (max-width:991px) {
  .terms p {
    font-size: 18px
  }
}

@media (max-width:600px) {
  .terms p {
    font-size: 16px
  }
}

.terms p:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms p:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms p:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms ul:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms ul:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms ul:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms li {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.04;
  text-align: center;
  letter-spacing: -.025em;
  color: #fff
}

@media (max-width:991px) {
  .terms li {
    font-size: 16px
  }
}

@media (max-width:600px) {
  .terms li {
    font-size: 14px
  }
}

.terms li:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms li:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms li:not(:last-child) {
    margin-bottom: 15px
  }
}

.game {
  margin-top: 30px
}

@media (max-width:991px) {
  .game {
    margin-top: 35px
  }
}

@media (max-width:600px) {
  .game {
    margin-top: 40px
  }
}

.game__content {
  height: 800px
}

@media (max-width:991px) {
  .game__content {
    height: 550px
  }
}

@media (max-width:600px) {
  .game__content {
    height: 350px
  }
}

.game__content iframe {
  width: 100%;
  height: 100%
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1
}

.popup__body {
  position: relative;
  width: 305px;
  background: #1b0a4f;
  border-radius: 5px;
  z-index: 2;
  padding: 35px 20px
}

@media (max-width:991px) {
  .popup__body {
    padding: 30px 20px
  }
}

@media (max-width:600px) {
  .popup__body {
    padding: 25px 20px
  }
}

@media (max-width:600px) {
  .popup__body {
    padding: 20px 15px
  }
}

@media (max-width:400px) {
  .popup__body {
    width: 95%
  }
}

.popup__form {
  width: 100%
}

.popup__form input {
  position: absolute;
  top: 0;
  left: -5000px
}

.popup__text {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.04;
  text-align: center;
  letter-spacing: -.025em;
  color: #fff
}

.popup__text:not(:last-child) {
  margin-bottom: 20px
}

.popup__form-bottom {
  text-align: center
}

.popup__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5px;
  width: 160px;
  height: 45px;
  background-color: #ff9500;
  border-radius: 15px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 17px;
  line-height: 1;
  text-align: center;
  letter-spacing: -.025em;
  color: #fff;
  -webkit-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out
}

@media (max-width:991px) {
  .popup__button {
    width: 140px;
    height: 40px
  }
}

@media (max-width:600px) {
  .popup__button {
    width: 120px;
    height: 35px
  }
}

@media (any-hover:hover) {
  .popup__button:hover {
    opacity: .6
  }
}

.popup__button:active {
  opacity: .2;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.webp .gry__item_1 {
  background-image: url(../img/game-1.webp)
}

.webp .gry__item_2 {
  background-image: url(../img/game-2.webp)
}

.webp .gry__item_3 {
  background-image: url(../img/game-3.webp)
}